/* font */
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
h1, h2 {
    font-family: 'Send Flowers', cursive;
}
/* colors */
:root{
    --color-background:#eff0f3;
    --color-paragraph:#2a2a2a; /* #2a2a2a */
    --color-text:#0d0d0d; /* #0d0d0d; */
    --color-highlight:#ff8e3c;
    --color-tertiary:#d9376e;
    --color-text-reverse:#f2f2f2;
    /* note all shadows are hard-coded to black */
}
h1, h2, nav, a{
    color:var(--color-text);
    text-align:center;
}
p, ul, div{
    color:var(--color-paragraph);
}
a:hover{
    color:var(--color-tertiary);
}
::selection{
    background-color:var(--color-tertiary);
    color:var(--color-text-reverse);
}
.myButton {
    color:var(--color-text);
    border-color:var(--color-highlight);
    background-color:var(--color-highlight);
    box-shadow: 2px 2px 5px black;
}
.myButton:focus, .myButton:hover{
    border-color:var(--color-tertiary);
    background-color:var(--color-tertiary);
    color:var(--color-text-reverse);
}
.myCard, .myModule, .myBanner{
    background-color:var(--color-background);
    box-shadow: 2px 2px 5px black;
}

/* layout */
.myModule, .myBanner{
    margin: 5px;
}
.myBg{
    height: 100vh;
    width: 100vw;
    display:grid; /* this allows registration page to be centered vertically */
    background-color:var(--color-background);
    overflow:auto; /* this fixes the background not going all the way down */
}
.myCard{
    height:fit-content;
    width:fit-content;
    margin: auto auto auto auto;
}
.myControlsContainer{
    height:fit-content;
    width:fit-content;
    margin: 5px auto 5px auto;
    display:flex;
    flex-direction: column;
}

/* grid template layout */
.myLandingContainer{
    /*
    height:fit-content;
    width:fit-content;
    margin: 5px auto 5px auto;
    display:flex;
    flex-direction:column;
    */
    display: grid;
    gap: 5px;
    grid-template-areas:
    "header"
    "login"
    "news"
    "sidebar"
    "footer";
}
#landing_title{
    grid-area: header;
}
#landing_login{
    grid-area: login;
}
#landing_news{
    grid-area: news;
}
#landing_about{
    grid-area: sidebar;
}
#landing_links{
    grid-area: footer;
}
@media (min-width: 700px) {
    .myLandingContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "header header"
        "login  sidebar"
        "news   sidebar"
        "footer footer";
    }
  }
/* grid layouts *//*
#landing_title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#landing_login{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#landing_about{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
#landing_news{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#landing_links{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}